{% load static %}
<!-- Start footer -->
<footer id="mu-footer">
    <!-- start footer top -->
    <div class="mu-footer-top">
        <div class="container">
            <div class="mu-footer-top-area">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="mu-footer-widget">
                            <h4>MA'LUMOTLAR</h4>
                            <ul>
                                <li class="active"><a href="{% url 'schools220:home' %}"> Bosh sahifa </a></li>
                                <li><a href="{% url 'schools220:about' %}">Biz haqimizda </a></li>
                                <li><a href="{% url 'schools220:news' %}">Yangiliklar</a></li>
                                <li><a href="{% url 'schools220:managements' %}">Raxbariyat</a></li>
                                <li><a href="{% url 'schools220:staff' %}">Hodimlar</a></li>
                                <li><a href="{% url 'schools220:gallery' %}">Galereya</a></li>
                                <li><a href="https://login.kundalik.com/">Kundalik.com</a></li>
                                <li><a href="#" id="mu-search-icon"><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="mu-footer-widget">
                            <h4>BIZNI KUZATIB BORING</h4>
                            <ul>
                                <li><a href="https://www.youtube.com/watch?v=LBaiaoIiMCU">Youtube</a></li>
                                <li><a href="https://www.facebook.com/groups/1398467033917194/?ref=share">Facebook</a>
                                </li>
                                <li><a href="#">Telegram</a></li>
                                <li><a href="#">Instagram</a></li>
                                <li><a href="#">Twitter</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="mu-footer-widget">
                            <h4>Manzil</h4>
                            <address>
                                <p>Toshkent shahar, Yunusobod tumani, <br> 4-daha,Moyqo'rg'on ko'chasi</p>
                                <p>Telefon: (71) 224-20-86</p>
                                <p>Websayt: hhtps://220-maktab.uz</p>
                                <p>Email: school220@mail.ru</p>
                            </address>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="mu-contact-right">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2921.8678936467704!2d69.27856322223555!3d41.36626270162933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8cc80c5e6767%3A0x89ad239613cd8f01!2s220-sonli%20maktab!5e1!3m2!1suz!2s!4v1648141799287!5m2!1suz!2s"
                                    width="100%" height="200" frameborder="0" style="border:0"
                                    allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end footer top -->
    <!-- start footer bottom -->
    <div class="mu-footer-bottom">
        <div class="container">
            <div class="mu-footer-bottom-area">
                <p>&copy; All Right Reserved. Designed by <a href="@Anvar_dev" rel="nofollow">Anvar and Elyor</a>
                </p>
            </div>
        </div>
    </div>
    <!-- end footer bottom -->
</footer>
<!-- End footer -->
